# Personal tests with C
c/tests

# Data files
data

# VSCode config
.vscode

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Libraries
*.lib
*.a
*.la
*.lo

# Object files
*.o
*.ko
*.obj
*.elf
